body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

a:link {
    text-decoration: none;
}

a:visited{
    color: white
}

.header{
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr
}

.user-info {
    display: grid;
    grid-template-columns: 3fr 1fr 5fr ;
    align-content: center;
}

.user-info h4{
    padding-left: 9%
}

.greeting{
    display: grid;
    margin-left: 5%;
    grid-template-columns: 1fr 15fr;
}

.greeting img{
    align-self: center;
}

.top-icon{
    justify-self: end;
    align-self: center;
}

.icon{
    justify-self: center;
    align-self: center;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.blue-buttons{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.blue-buttons button{
    background-color: #008CBA;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: white;
}

.blue-buttons button:hover{
    color: rgb(2, 245, 205);
    background-color: rgb(44, 18, 196);
}

input{
    width: 70%;
    border-radius: 25px;
    align-self: center;
    height: 30px;
    border: none;
    background-color: #008CBA;
}

.search{
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.side-content{
    grid-row: 1 / 3;
    background: blue;
    color: aliceblue;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
    padding-left: 4%;
}

.one-line {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background: lightblue;
    gap: 15px;

}

.left{
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 10fr;
}
.left h3{
    margin-bottom: 0;
}

.left h3{
    padding-left: 15px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding-left: 15px;
    margin-bottom: 5%;
}

.main .card{
    background-color: #f1f1ea;
    color: black;
    text-align: left;
    border-left: 10px solid rgb(197, 43, 89);
    padding-left: 15px;
    height: 240px;
    border-radius: 10px;
}

.card img{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }

.left{
    grid-column: 1 / 2;
}

.right{
    grid-column: 2 / 3;
    display: grid;
    padding-right: 15%;
    padding-bottom: 10%;
}

.announcements{
    border-radius: 10px;
}

.announcements > *{
 margin-left: 15px;
}

.trending{
    border-radius: 10px;
}

.trending > *{
    margin-left: 15px;
}

.card, .announcements, .trending{
    background: white;
}

